.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 42px 30px;
	background: #f9f9f9;

	&__commentForm {
		padding: 20px 20px 10px 18px;
		background: #efefef;
	}

	&__feed {
		flex: 1;
		padding: 28px 19px 25px 17px;
		border: 1px solid #efefef;
		background: #ffffff;
	}
}