.commentForm {
	text-align: right;

	&__field {
		text-align: left;

		&--email {
			margin: 0 0 12px 0;
		}

		&--message {
			margin: 0 0 8px 0;
		}
	}

	&__submit {
		padding: 10px 14px 10px 14px;
		outline: none;
		border: none;
		border-radius: 5px;
		font-size: 11px;
		background: #40a8df;
		color: #ffffff;

		&[disabled] {
			opacity: 0.3;
		}
	}
}